@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tags::-webkit-scrollbar {
  width: 0px !important;
  @apply bg-none;
}

body::-webkit-scrollbar {
  width: 10px !important;
  @apply bg-coldGray950;
}

body::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded;
}

body{
  @apply bg-coldGray950
}

button {
  @apply select-none !important;
}

.logo-title {
  font-family: "Anton", sans-serif;
}
